<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .form_ruby{
        color: blue;
        display: block;
        margin: auto;
        vertical-align: middle;
    }
    .container {
            display: flex;
            flex-direction: column;
            align-content: center;
            height: 300px;
         }
    </style>
</head>
<body>
    <div class="container">
        <form action="" class="form_ruby">
            <label for="fname">Nombre:</label><br>
            <input type="text" id="fname" name="fname" value=""><br>
            <label for="lname">Apellido:</label><br>
            <input type="text" id="lname" name="lname" value=""><br><br>
            <button type=submit>Validar</button>
        </form> 
                  
            <%=
                if servlet_request.query["fname"] != "" and servlet_request.query["fname"]
                    "<p>Hola #{servlet_request.query["fname"]} #{servlet_request.query["lname"]}</p>"
                end
            %>
    </div>
</body>
</html>